{% extends "base_bootstrap.html" %}

{% block title_section %}            
<h1 class="h2">Inventario Actual {{numero_llantas}} llantas</h1>
{% endblock %}

{% block extra_title_section %}
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="?orden=marca">Marca</a></li>
    <li class="page-item"><a class="page-link" href="?orden=medida">Medida</a></li>
    <li class="page-item"><a class="page-link" href="?orden=posicion">Posicion</a></li>
    <li class="page-item"><a class="page-link" href="?orden=dot">Dot</a></li>
    <li class="page-item"><a class="page-link" href="?orden=status">Status</a></li>
    <li class="page-item"><a class="page-link" href="?orden=cantidad">Cantidad</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_export }}"> <span data-feather="download"></span> Descargar</a></li>
  </ul>

{% endblock %}


{% block buttons_section %}
{% endblock %}


{% block section %}
	{% if llantas %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  
                 
                  <th>Marca </th>
                  <th>Medida </th>
                  <th>Posición </th>
                  <th>Dot </th>
                  <th>Status </th>
                  <th>Cantidad </th>
                  <th>Ubicación </th>
                  <th>Permisionarios </th>
                  <th>movimientos </th>
                </tr>
              </thead>
              <tbody>
                {% if orden == 'cantidad'%}
                  {% for llanta in llantas %} 
                  <tr>                    
                    <td>{{llanta.0.marca.nombre}} </td>
                    <td>{{llanta.0.medida.nombre}} </td>
                    <td>{{llanta.0.posicion.nombre}} </td>
                    <td>{{llanta.0.dot}} </td>
                    <td>{{llanta.0.status.nombre}} </td>
                    <td>{{llanta.1}} </td>
                    <td>{% for ubicacion, cantidad in llanta.0.total_ubicaciones.items %} {{ubicacion}}{% endfor %}</td>
                    <td>{% for llave, valor in llanta.0.total_ubicaciones_detail.items  %} 

                        {% for k, v in valor.items %} 
                        <button type="button" class="btn btn-info btn-sm">
                          {{k}} <span class="badge badge-light">{{v}}</span>
                        </button>
                        {% endfor %}

                        {% endfor %}
                    </td>                    
                    <td><a href="{% url 'llanta_detalle' llanta.0.id %}" class="btn btn-primary btn-sm" role="button">detalle</a> </td>
                  </tr>
                  {% endfor %}

                {% else %}
                	{% for llanta in llantas %} 
                  <tr>
                    <td>{{llanta.marca.nombre}} </td>
                    <td>{{llanta.medida.nombre}} </td>
                    <td>{{llanta.posicion.nombre}} </td>
                    <td>{{llanta.dot}} </td>
                    <td>{{llanta.status.nombre}} </td>
                    <td>{{llanta.cantidad_actual_total}} </td>
                    <td>{% for ubicacion, cantidad in llanta.total_ubicaciones.items %} {{ubicacion}}{% endfor %}</td>
                    
                    <td> {% for llave, valor in llanta.total_ubicaciones_detail.items  %} 
                        
                        {% for k, v in valor.items %} 
                        <button type="button" class="btn btn-info btn-sm">
                          {{k}} <span class="badge badge-light">{{v}}</span>
                        </button>
                        {% endfor %}
                         
                        {% endfor %}</td>                    
                    <td><a href="{% url 'llanta_detalle' llanta.id %}" class="btn btn-primary btn-sm" role="button">detalle</a> </td>
                  </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
	{% else %}
		Sin llantas
	{% endif %}

{% endblock %}

{% block javascript_bottom %}
{% endblock %}