{% extends "base_bootstrap.html" %}

{% block title_section %}            
<h1 class="h2">Movimientos</h1>
{% endblock %}

{% block extra_title_section %}
{% endblock %}


{% block buttons_section %}
{% endblock %}


{% block section %}
	{% if vehicles %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Color</th>
                  <th>Doors</th>
                  <th># Number</th>
        				  <th>Description</th>
                </tr>
              </thead>
              <tbody>
              	{% for vehicle in vehicles %} 
                <tr>
                  <td><a href="{% url 'vehicle' vehicle.id %}" class="btn btn-primary">Detail </a> </td>
                  <td>{{vehicle.vehicle_make}}</td>
                  <td>{{vehicle.vehicle_model}}</td>
                  <td>{{vehicle.color}}</td>
                  <td>{{vehicle.doors}}</td>
                  <td>{{vehicle.lot_number}}</td>
                  <td>{{vehicle.description}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
	{% else %}
		Sin movimientos
	{% endif %}

{% endblock %}
