{% extends "base_bootstrap.html" %}

{% block title_section %}            
<h1 class="h2">Vale Entrega de llantas, Folio: #{{vale.no_folio}}</h1>
{% endblock %}

{% block extra_title_section %}
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{% url 'salida_impresion' vale.id %}" target="_blank">Impresión</a></li>
  </ul>

{% endblock %}


{% block buttons_section %}
     <div class="row">
        <div class="col">No. folio: {{vale.no_folio}}</div>
        <div class="col">Tipo movimiento: {{vale.tipo_movimiento.nombre}}</div>
        <div class="col">
          <a class="page-link" href="{% url 'salida_edit' vale.id %}">editar</a>
          <a class="page-link" href="{% url 'salida_adjuntar' vale.id %}">Adjuntar</a>
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th> id </th>
                <th> Fecha creación</th>
                <th> Archivo</th>
              </tr>
            </thead>
            <tbody>
              {% for archivos in adjuntosarchivos %}
              <tr>
                <td>{{archivos.id}} </td>
                <td>{{archivos.fecha_created|date:"D d/M/Y"}}</td>
                <td><a class="page-link" href="{{MEDIA_URL}}{{archivos.upload}}" target="_blank">{{archivos.upload}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>


        </div>

      </div>
     <div class="row">
        <div class="col">Fecha: {{vale.fecha_vale}}</div>
        <div class="col">Quien entrega: {{vale.persona_asociada}}</div>
      </div>
      <br/><br/>


          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th> Cantidad </th>
                  <th> Marca </th>
                  <th> Medida </th>
                  <th> Posición </th>                  
                  <th> Status </th>
                  <th> DOT </th>
                  <th> % vida </th>
                  <th> Permisionario </th>

                  <th> Origen </th>
                  <th> No. Económico </th>
                  <th> Observaciones </th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
                {% for movimiento in vale.movimientos %}
                <tr>
                  <td>{{movimiento.cantidad}} </td>
                  <td>{{movimiento.llanta.marca.nombre}} </td>
                  <td>{{movimiento.llanta.medida.nombre}} </td>
                  <td>{{movimiento.llanta.posicion.nombre}} </td>
                  <td>{{movimiento.llanta.status.nombre}} </td>
                  <td>{{movimiento.llanta.dot}} </td>
                  <td>{{movimiento.llanta.porciento_vida}} </td>
                  <td>{{movimiento.permisionario}} </td>

                  <td>{{movimiento.origen}} </td>
                  <td>{{movimiento.destino}} </td>
                  <td>{{movimiento.observacion}} </td>
                  <td><a class="page-link" href="{% url 'salida_erase_movimiento' vale.id  movimiento.id %}">borrar</a></td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



{% endblock %}


{% block section %}

<form action="{% url 'salida_add' vale.id %}" method="post" id="salida_add_form">
    {% csrf_token %}
    {{ form.errors }}
      <div class="form-group">
        {{form.dot.errors}}
        <label for="{{form.dot.id_for_label}}">Dot</label>
        {{form.dot}}
      </div>
      <div class="form-group">
        {{form.marca.errors}}
        <label for="{{form.marca.id_for_label}}">Marca</label>
        {{form.marca}}
      </div>

      <div class="form-group">
        {{form.medida.errors}}
        <label for="{{form.medida.id_for_label}}">Medida</label>
        {{form.medida}}
      </div>

      <div class="form-group">
        {{form.posicion.errors}}
        <label for="{{form.posicion.id_for_label}}">Posición</label>
        {{form.posicion}}
      </div>

      <div class="form-group">
        {{form.status.errors}}
        <label for="{{form.status.id_for_label}}">Status</label>
        {{form.status}}
      </div>


    <input type="submit" value="Buscar" class="btn btn-primary">
    <input type="button" value="Limpiar" class="btn btn-secondary" id="boton_limpiar">
</form>

<form action="{% url 'salida_add' vale.id %}" method="post" id="profile_add_form">
    {% csrf_token %}
    {{ form_profile.errors }}
      <div class="form-group">
        {{form_profile.profile.errors}}
        <label for="{{form_profile.profile.id_for_label}}">Permisionario</label>
        {{form_profile.profile}}
      </div>

    <input type="submit" value="Buscar" class="btn btn-primary">
</form>


  {% if llantas %}
  
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Permisionario </th>                  
                  <th>Dot </th>                  
                  <th>Marca </th>
                  <th>Medida </th>
                  <th>Posición </th>
                  <th>Status </th>
                  <th>Actual </th>                  
                  <th>Origen</th>                  
                  <th> </th>                  
                </tr>
              </thead>
              <tbody>
                  {% for llanta in llantas %} 
                    {% for ubicacion, dicc_permisionarios in llanta.total_ubicaciones_detail.items %} 
                      {% for permisionario, cantidad in dicc_permisionarios.items %}
                      <tr>
                        <td>{{permisionario}} </td>
                        <td>{{llanta.dot}} </td>
                        <td>{{llanta.marca.nombre}} </td>
                        <td>{{llanta.medida.nombre}} </td>
                        <td>{{llanta.posicion.nombre}} </td>
                        <td>{{llanta.status.nombre}} </td>
                        <td>{{cantidad}} </td>
                        <td>{{ubicacion}} </td>
                        <td>
                          <form action="{% url 'salida_add_movimiento' vale.id %}" method="post" id="salida_add_movimiento_form" class="form-inline">
                            {{form.errors}}
                            {% csrf_token %}
                            {{form_salida.as_p}}

                            <input type="hidden" value="{{permisionario}}" name="nombre_permisionario" id="nombre_permisionario">
                            <input type="hidden" value="{{ubicacion}}" name="nombre_origen" id="nombre_origen">
                            <input type="hidden" value="{{llanta.id}}" name="id_llanta" id="id_llanta">
                            <input type="submit" value="Agregar" class="btn btn-primary mb-2">
                          </form>
                        </td>

                      </tr>
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
  {% else %}

  {% endif %}

{% endblock %}

{% block javascript_bottom %}
          <script>
          $( function() {            
            $( "#boton_limpiar" ).click(function(){
                $('#profile_add_form').trigger("reset");
                $('#salida_add_form').trigger("reset");
                window.location = "{% url 'salida_add' vale.id %}";
            });
          });
          </script>
{% endblock %}