{% extends "base_bootstrap.html" %}

{% block title_section %}            
<h1 class="h2">Adicionar Economico</h1>
{% endblock %}

{% block extra_title_section %}
{% endblock %}


{% block buttons_section %}
{% endblock %}


{% block section %}

<form action="{% url 'economico_add' %}" method="post" id="economico_add_form">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <input type="submit" value="Adicionar" class="btn btn-primary">
    <input type="button" value="Limpiar" class="btn btn-secondary" id="boton_limpiar">
</form>

{% endblock %}

{% block javascript_bottom %}
          <script>
          $( function() {            
            $( "#boton_limpiar" ).click(function(){
                $('#economico_add_form').trigger("reset");
                window.location = "{% url 'economico_add' %}";
            });
          });
          </script>
{% endblock %}