{% load humanize %}
<html>
<head>
<style type="text/css">
    .myTable { background-color:white;border-collapse:collapse; }
    .myTable th { background-color:#eee;color:black;width:50%; }
    .myTable td, .myTable th { padding:5px;border:1px solid #000; font-family: Arial !important; width: 350px;}

    .fuente_peque th
    {
       font-size: 15px !important;
       color: #000 !important;
       font-family: Arial !important;
    }

    .fuente_peque td
    {
       font-size: 12px !important;
       color: #000 !important;
       font-family: Arial !important;
       border:1px solid #000;
    }

    p {
       font-family: Arial !important;
    }

    .texto_vertical { writing-mode: tb-rl; }

</style>
</head>
<body>

    {% block antes_del_formato %}
    {% endblock %}


    <table class="myTable" border="0" width="100%">
		<tr>
			<td align="center"></td>
      <td align="center">
      
      <table border="0" class="fuente_peque" width="100%">
    <tr>
      <td align="center">FLETES EXPRESS R.B., S.A. DE C.V.</td>
      <td align="center">&nbsp;&nbsp;&nbsp;</td>
      <td align="center">
        <table border="0" class="fuente_peque" width="100%">
          <tr>
            <th colspan="8">{% if vale.tipo_movimiento.nombre == 'ENTRADA' %}Entrada de{% else %}Vale de Entrega de{% endif %} Almacén General</th>
          </tr>
          <tr>
            <td colspan="4">Folio:</td><td colspan="4">#{{vale.no_folio}}</td>
          </tr>
        </table>

        {% if vale.tipo_movimiento.nombre == 'ENTRADA' %}
        <table border="0" class="fuente_peque" width="100%">
          <tr>
            <th colspan="4">Proveedor</th><th colspan="4">Fecha</th>
          </tr>
          <tr>
            <td colspan="4">{{vale.persona_asociada.user.username}}</td><td colspan="4">{{vale.fecha_vale|date:"D d/M/Y"}}</td>
          </tr>
        </table>
        {% else %}
        <table border="0" class="fuente_peque" width="100%">
          <tr>
            <th colspan="4">Fecha</th>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center;">{{vale.fecha_vale|date:"D d/M/Y"}}</td>
          </tr>
        </table>
        {% endif %}

      </td>
    </tr>
        </table>

      </td>
      <td align="center">
      </td>
		</tr>
		<tr>
      <td></td>
      <td>

                <table border="0" class="fuente_peque" width="100%">
		            <tr>
                  <th style="width:40px;"> id prod</th>
                  <th style="width:50px;"> Fecha </th>
                  <th> Producto </th>
                  <th style="width:50px;"> Unidad </th>
                  <th style="width:50px;"> Cantidad </th>

            {% if vale.tipo_movimiento.nombre == 'ENTRADA' %}
                  {% if vale.con_iva %}
                  <th style="width:50px;"> Total con IVA </th>
                  {% else %}
                  <th style="width:50px;"> Total sin IVA </th>
                  {% endif %}                  
            {% endif %}                  


                  <th style="width:100px;"> Creador </th>
                  <th> Origen</th>
                  <th> No. Económico </th>
                  <th> Observaciones </th>
		            </tr>
                {% for movimiento in vale.movimientos %}
                <tr>
                  <td>#{{movimiento.producto.id}}</td>
                  <td>{{movimiento.fecha_movimiento|date:"D d/M/y"}}</td>
                  <td>{{movimiento.producto.nombre}}</td>
                  <td>{{movimiento.unidad.simbolo}} </td>
                  <td>{{movimiento.cantidad}} </td>

{% if vale.tipo_movimiento.nombre == 'ENTRADA' %}
                  <td>${{movimiento.precio_total|floatformat:2|intcomma}} </td>                  
            {% endif %}                  

                  <td>{{movimiento.creador}} </td>
                  <td>{% for x in movimiento.list_exact_positions %}{{x}}{% endfor %}</td>
                  <td>{{movimiento.destino}} </td>
                  <td>{{movimiento.observacion}} </td>          
                </tr>
                {% endfor %}

          {% if vale.tipo_movimiento.nombre == 'ENTRADA' %}
              <tr>
                  <td colspan="5"> </td>
                  <td>{% if vale.con_iva %}Con IVA{% else %}Sin IVA{% endif %} ${{vale.total|floatformat:2|intcomma}}</td>          
                  <td colspan="4"> 
                  {% if vale.observaciones_grales %}
                   <div class="row">
                      <div class="col">Observaciones: {{vale.observaciones_grales}}</div>
                    </div>
                  {% endif %}

                  </td>
              </tr>
            {% else %}
              <tr>
                  <td colspan="5"> </td>
                  <td></td>          
                  <td colspan="4"> 
                  {% if vale.observaciones_grales %}
                   <div class="row">
                      <div class="col">Observaciones: {{vale.observaciones_grales}}</div>
                    </div>
                   {% else %} 
                   <div class="row">
                      <div class="col">Observaciones: </div>
                    </div>
                  {% endif %}

                  </td>
              </tr>
            {% endif %}                  
                </table>
      </td>
      <td></td>
		</tr>
		<tr>
      <td></td>
            <td>

                <table border="0">
		            <tr>
			            <th>Nombre de quien entrega</th>
			            <th>Fecha</th>
			            <th style="width:40%;">Firma</th>
		            </tr>
		            <tr style="text-align: center;">
                  {% if vale.tipo_movimiento.nombre == 'ENTRADA' %}
			            <td>{{vale.creador_vale.user.username}} {{vale.creador_vale.user.first_name}} {{vale.creador_vale.user.last_name}}<br/><br/></td>
                  {% else %}
                  <td>{{vale.persona_asociada.user.username }} {{vale.persona_asociada.user.first_name}} {{vale.persona_asociada.user.last_name}}<br/><br/></td>
                  {% endif %}
			            <td>{{vale.fecha_vale}}</td>
			            <td style="height: 120px;"></td>
		            </tr>
                </table>
            </td>
            <td></td>
		</tr>

    </table>


			
</body>
</html>	