{% extends "base_bootstrap_general.html" %}

{% block title_section %}            
<h1 class="h2">Producto: {{producto.nombre}} </h1>
{% endblock %}

{% block extra_title_section %}
{% endblock %}


{% block buttons_section %}
{% endblock %}


{% block section %}
	
<div class="container">

  <div class="row">
    <div class="col-sm">
      <p class="lead">
      Nombre: {{producto.nombre}}
      </p>  
    </div>
    <div class="col-sm">
      <p class="lead">
      Cantidad: {{cantidad|floatformat }}
      </p>  
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p class="lead">
      unidades: {{unidad.nombre}}
      </p>  
    </div>
    <div class="col-sm">
      <p class="lead">
      símbolo: {{unidad.simbolo}} 
      </p>  
    </div>
    <div class="col-sm">
      <p class="lead">
      categoria: ({{unidad.categoria.nombre}})
      </p>  
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Número de parte 
              <a  href="{% url 'producto_add_numero' producto.id %}">
                  <span data-feather="file"></span>
                  Agregar Número de Parte
                </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for parte in producto.numeros_de_parte %}
            <tr>
              <td>
                {{parte.numero_de_parte}} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


<br><br>

      <div class="table-responsive">

           
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Ubicacion</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {% for ubicacion, cantidad in producto.what_in_positions_inventory_specific_obj.items %}
                  <tr>
                    <td>
                      {{ubicacion}} </td>
                    <td>
                      {{cantidad}} </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>




          </div>


  {% if producto.movimientos %}
          <div class="table-responsive">
            <h3>Movimientos entrada</h3>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Vale No folio</th>
                  <th>Id movimiento </th>
                  <th>Tipo movimiento </th>
                  <th>Fecha vale </th>
                  <th>Fecha creación </th>

                  <th>Origen</th>
                  <th>Destino</th>
                  <th>Cantidad</th>
                  <th>Unidad</th>
                  <th>Precio Unitario</th>
                  <th>Creador</th>
                  <th>Observacion</th>

                </tr>
              </thead>
              <tbody>
                  {% for movimiento in producto.movimientos_entrada %} 
                  <tr>                    
                    <td>{{movimiento.vale}} </td>
                    <td>{{movimiento.id}} </td>
                    <td>{{movimiento.vale.tipo_movimiento}} </td>
                    <td>{{movimiento.vale.fecha_vale}} </td>
                    <td>{{movimiento.date_created}} </td>
                    <td>{{movimiento.origen}} </td>
                    <td>{{movimiento.destino}} </td>
                    <td>{{movimiento.cantidad}} </td>
                    <td>{{movimiento.unidad.simbolo}} </td>

                    <td>{{movimiento.precio_unitario}} </td>
                    <td>{{movimiento.creador}} </td>
                    <td>{{movimiento.observacion}} </td>

                  </tr>
                    {% for position in movimiento.list_exact_positions %} 
                      <tr>
                        <td colspan="1">{{movimiento.vale}} </td>                    
                        <td colspan="1">{{movimiento.id}} </td>                    
                        <td colspan="10">{{position.in_words}} </td>
                      </tr>
                    {% endfor %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
  {% else %}
    Sin movimientos entrada
  {% endif %}

<br><br>
{% if producto.movimientos_salida %}
          <div class="table-responsive">
            <h3>Movimientos salida</h3>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Vale No folio</th>
                  <th>Tipo movimiento </th>
                  <th>Fecha vale </th>
                  <th>Fecha creacion </th>
                  <th>Id movimiento </th>

                  <th>Origen</th>
                  <th>Destino</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Creador</th>
                  <th>Observacion</th>
                  <th>Permisionario</th>
                </tr>
              </thead>
              <tbody>
                  {% for movimiento in producto.movimientos_salida %} 
                  <tr>                    
                    <td>{{movimiento.vale}} </td>
                    <td>{{movimiento.vale.tipo_movimiento}} </td>
                    <td>{{movimiento.vale.fecha_vale}} </td>
                    <td>{{movimiento.date_created}} </td>
                    <td>{{movimiento.id}} </td>
                    <td>{{movimiento.origen}} </td>
                    <td>{{movimiento.destino}} </td>
                    <td>{{movimiento.cantidad}} </td>
                    <td>{{movimiento.precio_unitario}} </td>
                    <td>{{movimiento.creador}} </td>
                    <td>{{movimiento.observacion}} </td>
                    <td>{{movimiento.permisionario}} </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
  {% else %}
    Sin movimientos salida
  {% endif %}



</div>

{% endblock %}
