{% extends "base_bootstrap_general.html" %}

{% block title_section %}            
<h1 class="h2">Vale Entrega del Almacen General, Folio: #{{vale.no_folio}}</h1>
{% endblock %}

{% block extra_title_section %}
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{% url 'general_impresion' vale.id %}" target="_blank">Impresión</a></li>
  </ul>

{% endblock %}


{% block buttons_section %}
     <div class="row">
        <div class="col">No. folio: {{vale.no_folio}}</div>
        <div class="col">Tipo movimiento: {{vale.tipo_movimiento.nombre}}</div>
        <div class="col"><a class="page-link" href="{% url 'salida_general_edit' vale.id %}">editar</a></div>

      </div>
     <div class="row">
        <div class="col">Fecha vale: {{vale.fecha_vale}}</div>
        <div class="col">Quien entrega: {{vale.persona_asociada}}</div>
        <div class="col">Observaciones generales: {{vale.observaciones_grales}}</div>
      </div>
      <br/><br/>


          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th> id </th>
                  <th> Fecha </th>
                  <th> Producto </th>
                  <th> Unidad </th>
                  <th> Cantidad </th>
                  <th> Creador </th>
                  <th> Origen </th>
                  <th> Origen Specifico</th>
                  <th> No. Económico </th>
                  <th> Observaciones </th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
                {% for movimiento in vale.movimientos %}
                <tr>
                  <td>{{movimiento.id}} </td>
                  <td>{{movimiento.fecha_movimiento}}</td>
                  <td>{{movimiento.producto.nombre}}</td>
                  <td>{{movimiento.unidad.simbolo}} </td>
                  <td>{{movimiento.cantidad}} </td>
                  <td>{{movimiento.creador}} </td>
                  <td>{{movimiento.origen}} </td>
                  <td>{% for x in movimiento.list_exact_positions %}{{x}}{% endfor %}</td>
                  <td>{{movimiento.destino}} </td>
                  <td>{{movimiento.observacion}} </td>
                  <td><a class="page-link" href="{% url 'salida_general_erase_movimiento' vale.id  movimiento.id %}">borrar</a></td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>



{% endblock %}


{% block section %}

<form action="{% url 'salida_general_add' vale.id %}" method="post" id="salida_add_form">
    {% csrf_token %}
    {{ form.errors }}
      <div class="form-group">
        {{form.dot.errors}}
        <label for="{{form.nombre.id_for_label}}">Nombre</label>
        {{form.nombre}}
      </div>

    <input type="submit" value="Buscar" class="btn btn-primary">
    <input type="button" value="Limpiar" class="btn btn-secondary" id="boton_limpiar">
</form>


  {% if productos %}
  
          <div class="table-responsive">
            <table class="table table-striped table-sm" border="2">
              <thead>
                <tr>
                  <th>Id </th>    
                  <th>Nombre </th>                  
                  <th>Cantidad </th>                  
                  <th>Unidad </th>
                </tr>
              </thead>
              <tbody>
                  {% for producto in productos %} 


                      <tr>
                        <td>{{producto.id}} </td>
                        <td>{{producto.nombre}} </td>
                        <td>{{producto.inventory.0}}</td>
                        <td>{{producto.inventory.1.simbolo}}</td>
                      </tr>


              <thead>
                <tr>
                  <th>Origen </th>    
                  <th>Cantidad Actual</th>                  
                  <th colspan="2"> </th>
                </tr>
              </thead>


                      {% for lugar, cantidad in producto.what_in_positions_inventory_specific_obj.items %}
                      <tr>
                        <td>{{lugar.profile.user.username}} >> {{lugar.position}}</td>
                        <td>{{cantidad}}</td>
                        <td colspan="2">
                          <form action="{% url 'salida_general_add_movimiento' vale.id %}" method="post" id="salida_add_movimiento_form" class="form-inline">
                            {{form_salida.errors}}
                            {% csrf_token %}
                            {{form_salida.as_p}}
                            <input type="hidden" value="{{producto.inventory.1.id}}" name="id_unidad_referencia" id="id_unidad_referencia">
                            <input type="hidden" value="{{cantidad}}" name="cantidad_max" id="cantidad_max">
                            <input type="hidden" value="{{lugar.profile.id}}" name="id_origen" id="id_origen">
                            <input type="hidden" value="{{producto.id}}" name="id_producto" id="id_producto">
                            <input type="hidden" value="{{lugar.id}}" name="id_profileposition" id="id_profileposition">
                            <input type="submit" value="Agregar" class="btn btn-primary mb-2">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}

                  {% endfor %}
              </tbody>
            </table>
          </div>
  {% else %}

  {% endif %}

{% endblock %}

{% block javascript_bottom %}
          <script>
          $( function() {            
            $( "#boton_limpiar" ).click(function(){
                $('#profile_add_form').trigger("reset");
                $('#salida_add_form').trigger("reset");
                window.location = "{% url 'salida_general_add' vale.id %}";
            });
          });
          </script>
{% endblock %}